#box > div img {
  width: 124px;
  height: 124px;
  border: 1px solid #000;
  margin-right: 10px;
  margin-bottom: 10px;
  object-fit: cover;
  border-radius: 0.5rem;
}

.responsive .slick-slide {
  margin: 0 20px;
}

.responsive .slick-prev:before, .responsive .slick-next:before {
  color: #a69de0;
  opacity: 1;/*デフォルトは.75が指定されている*/
}

.responsive .slick-prev {
  left: 0;
  z-index: 1;
}

.responsive .slick-next {
  right: 0;
  z-index: 1;
}

.preview-img div img {
  object-fit: cover;
  border-radius: 9999px;
  border-width: 2px;
}
